<% provide(:title, 'About Us') %>
<div class ="row">
<blockquote class="pull-right">
  <p>DungeonBay is an one-stop shop for worthless virtual goods purchased with imaginary gold pieces.
 </p> 
 <small>Kenytt Avery</small>
</blockquote>
</div>

<div class ="row">
  <div class="span3">
  <h2>About</h2>
  <p>You can create an account in this shop and stock it with weapons, equipment, magic spells, and novelty items. </p>
  </div>
  <div class="span4">
  <h2>What can you do?</h2>
  <p>Players can buy, sell, trade, barter, or plead for someone to take an item off your hands. Who knows, maybe you can finally get rid of that +3 Sword of Yodeling.</p>
  </div>

</div>
