<h2>Contact Information</h2>
<br>

<table class="table">
  <thead>
    <tr>
	  <th>#</th>
      <th><i class="icon-user icon-blue"></i> Name</th>	  
      <th><i class="icon-envelope icon-blue"></i> Email Address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
	  <td>1</td>
      <td>Michael Phillips</td>
	  <td>phillips@email.com</td>
	  </tr>
	  <tr>
	  <td>2</td>
      <td>Shaofen Chen</td>
	  <td>chen@email.com</td>
	  </tr>
	  <tr>
	  <td>3</td>
	  <td>Lisa Giss</td>
	  <td>giss@email.com</td>
	  </tr>
	  <tr>
	  <td>4</td>
	  <td>Mrunal Patel</td>
	  <td>patel@email.com</td>
	  </tr>
	  <tr>
	  <td>5</td>
	  <td>Junyi Feng</td>
	  <td>feng@email.com</td>
    </tr>
  </tbody>
</table>