<h2 class = "orange">Items in your cart</h2>
<table class="table table table-bordered">
  <thead>
    <tr>
	  <th>#</th>
      <th><i class="icon-th-list"></i> Item overview</th>	  
      <th><i class=""></i> Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
	  <td>1</td>

	  <td>
	<img class="pull-left"  src="http://placehold.it/100x80" alt="">
	  <div class="caption"><a href="itemDetail">Item title and short description Link to responding item
	  </a>
			  <p class="priceOld">$330.00</p>
			  <p class="priceNew">$320.00</p>	 
	  </div>
	  </td>
	  
	  <td>
	  <a href="#">remove</a>
	  </td>
	 </tr>
    <tr>
	  <td>2</td>

	  <td>
	<img class="pull-left"  src="http://placehold.it/100x80" alt="">
	  <div class="caption"><a href="itemDetail">Item title and short description Link to responding item
	  </a>
			  <p class="priceOld">$330.00</p>
			  <p class="priceNew">$320.00</p>	
	  </div>
	  </td>
	  
	  <td>
	  <a href="#">remove</a>
	  </td>
	 </tr>
	 
  </tbody>
</table>
<a href = "order" class="btn btn-warning">Confirm order</a>
<button class="btn btn-primary">Back to shop</button>

