<div class = "row">
	<div class="span4">
	<img   src="http://placehold.it/320x240" alt="">
	</div>
	<div class="caption">
	  <h5 class ="orange">Item 1</h5>
	  <a href = "itemDetail"><p>Cras justo odio, dapibus ac facilisis in</p></a>
	  <p class="priceOld">$330.00</p>
	  <p class="priceNew">$320.00</p>
	  <hr>
	  <a href="cart" type="submit" class="btn  btn-warning btn-large">Buy now!</button></a>
	  
	</div>
</div>
<hr>
<h2 class ="orange small">Production details</h2>
<p>
Production detail goes here. Production detail goes here. Production detail goes here. Production detail goes here. Production detail goes here. 
</p>
