<h2 class = "orange">Orders in process</h2>
<table class="table table table-bordered">
  <thead>
    <tr>
	  <th>#</th>
      <th><i class="icon-shopping-cart"></i> Order Placed:</th>	  
      <th><i class="icon-th-list"></i> Item overview</th>
    </tr>
  </thead>
  <tbody>
    <tr>
	  <td>1</td>
      <td><p>January 30, 2012</p>
	  <p>Order Number: 1112156-1544845</p>
	  </td>
	  <td>
	<img class="pull-left"  src="http://placehold.it/100x80" alt="">
	  <div class="caption"><a href="itemDetail">Item title and short description Link to responding item
	  </a>
	  </div>
	  </td>
	 </tr>
	 
	     <tr>
	  <td>2</td>
      <td><p>January 30, 2012</p>
	  <p>Order Number: 1112156-1544845</p>
	  </td>
	  <td>
	<img class="pull-left"  src="http://placehold.it/100x80" alt="">
	  <div class="caption"><a href="itemDetail">Item title and short description Link to responding item
	  </a>
	  </div>
	  </td>
	 </tr>
	 
	     <tr>
	  <td>3</td>
      <td><p>January 30, 2012</p>
	  <p>Order Number: 1112156-1544845</p>
	  </td>
	  <td>
	<img class="pull-left"  src="http://placehold.it/100x80" alt="">
	  <div class="caption"><a href="itemDetail">Item title and short description Link to responding item
	  </a>
	  </div>
	  </td>
	 </tr>
	 
  </tbody>
</table>


<br>

<h2 class = "orange">Past orders</h2>
<table class="table table table-bordered">
  <thead>
    <tr>
	  <th>#</th>
      <th><i class="icon-shopping-cart"></i> Order Placed:</th>	  
      <th><i class="icon-th-list"></i> Item overview</th>
    </tr>
  </thead>
  <tbody>
    <tr>
	  <td>1</td>
      <td><p>January 30, 2012</p>
	  <p>Order Number: 1112156-1544845</p>
	  </td>
	  <td>
	<img class="pull-left"  src="http://placehold.it/100x80" alt="">
	  <div class="caption"><a href="itemDetail">Item title and short description Link to responding item
	  </a>
	  </div>
	  </td>
	 </tr>
	 
	     <tr>
	  <td>2</td>
      <td><p>January 30, 2012</p>
	  <p>Order Number: 1112156-1544845</p>
	  </td>
	  <td>
	<img class="pull-left"  src="http://placehold.it/100x80" alt="">
	  <div class="caption"><a href="itemDetail">Item title and short description Link to responding item
	  </a>
	  </div>
	  </td>
	 </tr>
	 
	     <tr>
	  <td>3</td>
      <td><p>January 30, 2012</p>
	  <p>Order Number: 1112156-1544845</p>
	  </td>
	  <td>
	<img class="pull-left"  src="http://placehold.it/100x80" alt="">
	  <div class="caption"><a href="itemDetail">Item title and short description Link to responding item
	  </a>
	  </div>
	  </td>
	 </tr>
	 
  </tbody>
</table>
