<h2 class = "orange">Review Your Order</h2>
<table class="table table table-bordered">
  <thead>
    <tr>
	  <th>#</th>
      <th><i class="icon-th-list"></i> Item overview</th>
    </tr>
  </thead>
  <tbody>
    <tr>
	  <td>1</td>
	  <td>
	<img class="pull-left"  src="http://placehold.it/100x80" alt="">
	  <div class="caption"><a href="itemDetail">Item title and short description Link to responding item
	  </a>
	  	  <p class="priceOld">$330.00</p>
	  <p class="priceNew">$320.00</p>
	  </div>
	  </td>
	 </tr>
	 
	     <tr>
	  <td>2</td>

	  <td>
	<img class="pull-left"  src="http://placehold.it/100x80" alt="">
	  <div class="caption"><a href="itemDetail">Item title and short description Link to responding item
	  </a>
	  	  <p class="priceOld">$330.00</p>
	  <p class="priceNew">$320.00</p>
	  </div>
	  </td>
	 </tr>
	 
	     <tr>
	  <td>Total</td>
	  <td>
	  $1,000.00
	  </td>
	 </tr>
	 
  </tbody>
</table>

<form class="form-horizontal">
        <fieldset>
          
		  <h2 class="orange">Billing Information:</h2>
          <div class="control-group">
            <label class="control-label" for="input01">First name</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="input01">
            </div>
          </div>
		  
          <div class="control-group">
            <label class="control-label" for="input02">Last name</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="input02">
            </div>
          </div>
		  
		   <div class="control-group">
            <label class="control-label" for="select01">Choose your card type</label>
            <div class="controls">
              <select id="select01">
                <option>Visa</option>
                <option>Master</option>
                <option>American Express</option>
                <option>JCB</option>
              </select>
            </div>
          </div>

		  <div class="control-group">
            <label class="control-label" for="input03">Card Number</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="input03">
            </div>
          </div>
		  
		  <div class="control-group">
            <label class="control-label" for="input04">Expire year</label>
            <div class="controls">
              <input type="text" class="input-small" id="input04">
            </div>
          </div>

		  	<div class="control-group">
			<label class="control-label" for="input05">Expire month</label>
            <div class="controls">
              <input type="text" class="input-small" id="input05">
            </div>
          </div>

		  	<div class="control-group">
			<label class="control-label" for="input06">3-digit security number</label>
            <div class="controls">
              <input type="text" class="input-small" id="input06">
            </div>
          </div>

		   <div class="control-group">
            <label class="control-label" for="select02">Locate your server</label>
            <div class="controls">
              <select id="select02">
                <option>Server A</option>
                <option>Server B</option>
                <option>Server C</option>
                <option>Server D</option>
              </select>
            </div>
          </div>
		  
		  <div class="control-group">
            <label class="control-label" for="input07">User Name</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="input07">
            </div>
          </div>

		  
          <div class="control-group">
            <label class="control-label" for="optionsCheckbox">Agreement</label>
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" id="optionsCheckbox" value="option1">
                Agreement
              </label>
            </div>
          </div>


          <div class="form-actions">
            <button type="submit" class="btn btn-warning">Place your order</button>
            <button class="btn">Cancel</button>
          </div>
        </fieldset>
      </form>