	<div>
      <h3 class ="orange">search result for </h3>
		<div class = "row">
		  <div class="span2">
            <img   src="http://placehold.it/140x100" alt="">
			</div>
            <div class="caption">
              <h5 class ="orange">Item 1</h5>
              <a href = "itemDetail"><p>Click here to the item detail pages</p></a>
			  <p class="priceOld pull-left">$330.00</p>
			  <p class="priceNew">$320.00</p>
			</div>
			</div>
			<hr>
			<div class = "row">
		  <div class="span2">
            <img   src="http://placehold.it/140x100" alt="">
			</div>
            <div class="caption">
              <h5 class ="orange">Item 2</h5>
              <a href = "#"><p>Cras justo odio, dapibus ac facilisis in</p></a>
			 <p class="priceOld pull-left">$330.00</p>
			  <p class="priceNew">$320.00</p>
			</div>
			</div>
			<hr>
		<div class = "row">
		  <div class="span2">
            <img   src="http://placehold.it/140x100" alt="">
			</div>
            <div class="caption">
              <h5 class ="orange">Item 3</h5>
              <a href = "#"><p>Cras justo odio, dapibus ac facilisis in</p></a>
			<p class="priceOld pull-left">$330.00</p>
			  <p class="priceNew">$320.00</p>
			</div>
			</div>
						<hr>
<div class="pagination">
  <ul>
    <li><a href="#">Prev</a></li>
    <li class="active">
      <a href="#">1</a>
    </li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>

    </div>
